<button style="position: absolute; top: 1vh; right: 6vw;" mat-fab color="primary" (click)="refresh()" aria-label="Odśwież dane">
    <mat-icon>sync</mat-icon>
</button>

<div fxLayout="row wrap" fxLayoutAlign="space-between center" >

    <ngx-charts-bar-vertical 
    [results]="actualData" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>

    <ngx-charts-bar-vertical 
    [results]="actualData" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>

    
    <ngx-charts-bar-vertical 
    [results]="actualData" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>

    
    <ngx-charts-bar-vertical 
    [results]="actualData" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>

    
</div>