<div fxLayout="row wrap" fxLayoutAlign="space-between center" >

    <!-- <ngx-charts-bar-vertical 
    [results]="chartsData[0]" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showXAxisLabel]="showXAxisLabel"
    [showYAxisLabel]="showYAxisLabel"
    [xAxisLabel]="xAxisLabel" 
    [yAxisLabel]="yAxisLabel"
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>
    
    <ngx-charts-bar-vertical 
    [results]="chartsData[1]" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>
    
    <ngx-charts-bar-vertical 
    [results]="chartsData[0]" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical>
    
    <ngx-charts-bar-vertical 
    [results]="chartsData[0]" 
    [view]="view"  
    [xAxis]="xAxis" 
    [yAxis]="yAxis"  
    [scheme]="colorScheme" 
    [showDataLabel]="showDataLabel" >
    </ngx-charts-bar-vertical> -->
    
    </div>